.page-header
  = link_to new_study_path_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Study path
  %h1 Listing study_paths

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @study_paths.each do |study_path|
        %tr
          %td= study_path.name
          %td= link_to 'Show', study_path
          %td= link_to 'Edit', edit_study_path_path(study_path)
          %td= link_to 'Destroy', study_path, data: { confirm: 'Are you sure?' }, method: :delete
