.page-header
  = link_to new_study_module_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Study Module
  %h1 Listing study modules

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Study Module Name


    %tbody
      - @study_modules.each do |sm|
        %tr
          %td= sm.name

          %td= link_to 'Show', sm
          %td= link_to 'Edit', edit_study_module_path(sm)
          %td= link_to 'Destroy', sm, data: { confirm: 'Are you sure?' }, method: :delete
