.page-header
  = link_to courses_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_course_path(@course), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show course

%dl.dl-horizontal
  %dt Semester:
  %dd= @course.semester
  %dt Name:
  %dd= @course.name
  %dt Name english:
  %dd= @course.name_english
  %dt Description:
  %dd= @course.description
  %dt Code:
  %dd= @course.code
  %dt Language:
  %dd= @course.language
  %dt Lecturer:
  %dd= @course.lecturer
  %dt Assistant:
  %dd= @course.assistant
  %dt Level:
  %dd= @course.level
  %dt Hours per week:
  %dd= @course.hours_per_week
  %dt Ects:
  %dd= @course.ects
  %dt Goals:
  %dd= @course.goals
  %dt References:
  %dd= @course.references
  %dt Frequency:
  %dd= @course.frequency
  %dt Time schedule:
  %dd= @course.time_schedule
  %dt Number of students:
  %dd= @course.number_of_students
  %dt Softskill students:
  %dd= @course.softskill_students
  %dt Free auditor:
  %dd= @course.free_auditor
  %dt Erasmus students:
  %dd= @course.erasmus_students
  %dt Condition:
  %dd= @course.condition
  %dt Examination regulation:
  %dd= @course.examination_regulation
  %dt Exam session:
  %dd= @course.exam_session
  %dt Exam date:
  %dd= @course.exam_date
  %dt Type of evaluation:
  %dd= @course.type_of_evaluation
  %dt Exam duration:
  %dd= @course.exam_duration
  %dt Exam language:
  %dd= @course.exam_language
  %dt Study program:
  %dd= @course.study_program
