= simple_form_for @study_path, html: { class: "form-horizontal", role: "form" } do |f|
  -if @study_path.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@study_path.errors.count, "error")} prohibited this study_path from being saved:"

      %ul
        - @study_path.errors.full_messages.each do |msg|
          %li= msg

  
  = f.input :name

  = f.association :course_modules, as: :check_boxes  

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
